/build_local/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
yarn-error.log
.DS_Store

# to deploy on netlify which have php 8.0
composer.lock

/build_staging/
/build_production/
/source/assets/build/
