

.ec-cart {
  display: block!important;

  > * {
    padding: 0!important;
    width: 100%!important;
    margin-left: auto!important;
  }

  &__sidebar {

  }

  &__body {
    max-width: 400px!important;
  }

  &__summary {
    width: auto!important;
    margin-left: auto!important;
  }
}
