body {
  background: #0000fe;
  color:#fff;
  font-family: Helvetica, Arial, sans-serif;
}

[v-cloak] {
  display: none;
}

a {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 768px) {
  img.tcpc {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -200px;
  }
}

.play {
  box-sizing: border-box;
  width: 74px;
  height: 74px;
  border-width: 37px 0 37px 74px;
  border-style: solid;
  border-color: transparent transparent transparent white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}